/*COMMON STYLE*/
.wrapper{
    font-family: 'Roboto', sans-serif;
    font-family: 'Mohave', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/*HEADER STYLE*/
.header{
    background-color: #616bee;
}

.yellow .header{
    background-color: #d9ee61;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}

.header-section{
    margin-left: 10px;
}

.header-section-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 22%;
}

.header-title{
    font-size: 40px;
}

.header-btn{
    background-color: #d9ee61;
    padding: 8px 12px;
    border-radius: 5px;
    min-width: 200px;
    border: none;
    text-transform: uppercase;
}

.yellow .header-btn {
    background-color: #616bee;
}

.header-text{
    font-size: 22px;
    padding: 5px 0;
}

.header__contacts-title{
    font-size: 26px;
    padding: 10px 0;
}

.contact-wrapper{
    display: flex;
    justify-content: space-around;
}

.header-icon{
    margin-right: 10px;
}

.header-text--linkedin{
    margin: 10px 0;
}

/*LOADING*/
.loading {
    display: flex;
}

.loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.8em;
    border-radius: 50%;
}

.loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
    background: #89cff0;
}

.loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
    background: #4682b4;
}

.loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
    background: #0f52ba;
}

.loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
}

@keyframes wave {
    50%,
    75% {
        transform: scale(2.5);
    }
    80%,
    100% {
        opacity: 0;
    }
}

.js-active-load{
    display: none;
}

/*MAIN SECTION*/
.main-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

/*ASIDE SECTION*/
.aside{
    width: 25%;
    margin: 0 10px;
}

.section{
    margin: 20px 0;
}

.section-title{
    padding: 15px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

.aside-sections{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.section-text{
    line-height: 20px;
}

/*SOFT SKILLS SECTION*/
.soft-skill-list{
    list-style: square;
    margin-left: 20px;
}

.soft-skill-list > li {
    margin: 5px 0;
}

/*TAB SECTION*/
.article{
    width: 60%;
}

.tab-section{
    display: flex;
    text-transform: uppercase;
    margin-top: 20px;
}

.tab-section-item{
    padding: 20px 5px;  
}

.js-active{
    background-color: #616bee;
}

.yellow .js-active{
    background-color: #d9ee61;
}

.tab-section-link{
    margin: 0 10px;
    padding: 15px 10px;
    font-size: 18px;
}

.tab-content{
    margin: 10px;
}

.tab-section__content{
    padding: 20px;
    display: flex;
}

.tab-content-wrapper{
    margin-left: 15px;
}

.tab-wrapper{
    margin-left: 10px;
}

.tab-section__content-title{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.tab-section__content-list{
    list-style: square;
    margin-left: 30px;
}

.tab-section__content-list > li{
    padding: 5px 0;
}

/*FOOTER*/
.footer{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer > div{
    padding: 20px 0;
}

.yellow .footer{
    background-color: #29e77f;
    color: #000000;
}

@media screen and (max-width: 768px){
    .header-title{
        font-size: 24px;
    }
    .header-btn{
        min-width: 70px;
        padding: 4px 6px;
    }
    .contact-wrapper{
        display: block;
    }
    .header-text{
        font-size: 16px;
        padding: 2px 0;
    }
    .header-section-wrapper{
        gap: 5px;
        height: 10%;
        justify-content: left;
    }

    .article {
        width: 65%;
    }

    .tab-section__content {
        padding: 20px 5px;
    }
}

@media screen and (max-width: 420px){
    .header-title{
        font-size: 24px;
    }
    .header-btn{
        min-width: 70px;
        padding: 4px 6px;
    }
    .contact-wrapper{
        display: block;
    }
    .header-text{
        font-size: 16px;
        padding: 2px 0;
    }
    .header-section-wrapper{
        gap: 5px;
        height: 20%;
        justify-content: left;
    }

    .article {
        width: 95%;
        margin: 0 10px;
    }

    .tab-section__content {
        padding: 20px 5px;
    }

    .loading .dot {
        position: relative;
        width: 0.5em;
        height: 0.5em;
        margin: 0.5em;
        border-radius: 50%;
    }

    .aside{
        width: 100%;
    }

    .main-wrapper{
        display: block;
        gap: 0;
    }
}